<div class="text-center upload-section">
	<span class="upload-file-wrapper">
		<input class="form-control upload-file" type="file"(change)="onChange($event)">
		<img src="../../assets/images/attachment.jpg" alt="Upload file" />
	</span>

	<button (click)="onUpload()" mat-raised-button disabled="{{uploadDisabled}}"> Upload </button>
</div>

<!-- <button mat-raised-button (click)="openDialog()">Open dialog</button> -->

<!-- Shareable short link of uploaded file -->
<div class="container text-center jumbotron" *ngIf="shortLink">
	<h2> Visit Here</h2>
	<a href="{{shortLink}}">{{shortLink}}</a>
</div>

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
	<h3>Loading ...</h3>
</div>
