.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .header__container {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; 

        img {
            width: 120px;
        }
        .title {
        margin-right: 10px;
        font-weight: bold;
        font-size: 20px;
        color: #004893;
        }
      }
  }
  