<footer class="flex-wrapper theme--gray">
    <div class="footer__dividing-line device-desktop"></div>
    <div class="row">
        <div class="col-12 footer__after-content-collection">
            <div class="footer__external-links neos-contentcollection">
                <a class="external-link" target="_blank" href="https://www.avaloq.com/legal-notice">Legal notice</a>
                <a class="external-link" target="_blank" href="https://www.avaloq.com/privacy">Privacy</a>
                <a class="external-link" target="_blank" href="https://www.avaloq.com/privacy#cookies">Use of cookies</a>
                <a class="external-link" target="_blank" href="https://www.avaloq.com/information">Company information</a>
            </div>
            <!-- <div class="footer__dividing-line device-small"></div> -->
            <div class="footer__copyright">Copyright ©2022 Avaloq</div>
        </div>
    </div>
</footer>