.mat-mdc-form-field-infix {
    width: 350px !important;
}
p.individual-data {
    display: flex;
}
#clipboard {
    width: 50%;
    margin: 0 auto;
}
.individual-line {
    border-bottom: 1px solid #000;
    padding: 10px 0;
}